<app-home-navbar></app-home-navbar>

<!-- <div class="container ">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                    
                    
                        
                </div>
            </div>
        </div>
    </div>
</div> -->
<style>
    /* Carousel styling */
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      height: 100vh;
    }

    .carousel-item:nth-child(1) {
      background-image: url('https://liveapps.nestdigital.com/intranest/images/brandbook.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:nth-child(2) {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .carousel-item:nth-child(3) {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(4) {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    
  </style>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <div class="d-flex justify-content-center align-items-center h-100">
            
          </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3">Engineering Transformation</h1>
              
             
            </div>
          </div>
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3">Digital Platforms</h1>
              
             
            </div>
          </div>
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3">Distriputive Transformation Serivices</h1>
              
             
            </div>
          </div>
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


