<app-home-navbar></app-home-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                    
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                    
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhiekau1zDiXYEVIF41Ai3B3tKL4goYs01WlGtWgChkg&s" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h1>Engineering Transformations</h1>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhiekau1zDiXYEVIF41Ai3B3tKL4goYs01WlGtWgChkg&s" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h1>Digital Platforms</h1>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhiekau1zDiXYEVIF41Ai3B3tKL4goYs01WlGtWgChkg&s" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h1>Distibutive Transformation Services</h1>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                          
                           
                        
                </div>
            </div>
        </div>
    </div>
</div>

