<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://liveapps.nestdigital.com/intranest/images/brandbook6.png" alt="Bootstrap" width="45" height="35">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/contact">Contact Us</a>
          <a class="nav-link" href="/gallery">Gallery</a>
          <a class="nav-link" href="/employeeLogin">Employee Login</a>
          <a class="nav-link" href="/adminLogin">Admin Login</a>

        </div>
      </div>
    </div>
  </nav>